* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
}

/* ============= SECTION ============= */
.section {
  margin: 20px 10px;
}

.section__title {
  width: 100%;
  grid-column-start: 1;
  grid-column-end: 3;
  text-align: center;
  margin-bottom: 20px;
  color: red;
}

/* ============= HEADER ============= */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  box-shadow: 0px 0px 1px 2px;
}

.header__logo {
  width: 130px;
  margin-left: 100px;
}

.header__search button {
  background-color: #000;
  color: #fff;
  cursor: pointer;
}

.header__search input,
.header__search button {
  padding: 5px 10px;
}

/* ============= BANNER ============= */
.banner {
  width: 50%;
  display: inline-block;
  vertical-align: top;
}

.banner img {
  height: 40vw;
}

/* ============= REGISTER ============= */
.register {
  width: 40vw;
  display: inline-block;
  vertical-align: top;
}

.register__form h1 {
  text-align: center;
  color: orange;
  margin-bottom: 15px;
}

.register__item {
  margin: 10px 0;
}

.register__item input,
.register__item select,
.register__item textarea {
  padding: 4px 10px;
  width: 74%;
}

.register__item textarea {
  height: 200px;
}

.register__item label {
  color: orange;
  font-weight: bold;
  width: 25%;
  display: inline-block;
}

.register__item:last-child {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.register__item:last-child input {
  width: 100px;
  padding: 8px;
  border: none;
  border-radius: 5px;
  background-color: orange;
  color: #fff;
}

/* ============= SELLER ============= */
.seller {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 40px;
  margin-left: 25px;
  margin-right: 25px;
}

.seller__content h2 {
  color: darkturquoise;
}

.seller__content h4 {
  margin: 15px 0;
}

.seller__content p {
  border-bottom: 1px solid #ccc;
  padding-bottom: 5px;
}

/* ============= ACCESSORIES ============= */
.accessories {
  display: grid;
  column-gap: 15px;
  grid-template-columns: repeat(2, 1fr);
  margin-left: 40px;
  margin-right: 40px;
}

.accessories__item {
  display: grid;
  column-gap: 10px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 25px 100px auto;
}

.accessories div:nth-child(3) {
  grid-template-rows: 25px 120px auto;
}

.accessories__item img {
  grid-row-start: 1;
  grid-row-end: 4;
  height: 20vw;
}

.accessories__item p:last-child {
  color: orange;
  font-style: italic;
}

/* ============= FOOTER ============= */
.footer {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  color: #fff;
  background-color: #06a2c8;
  text-align: center;
  padding: 20px;
}

/* ============= RESPONSIVE ============= */
/* Phần này đề không yêu cầu, nhưng mình sợ màn hình thầy cô chấm
  thi sẽ nhỏ hơn màn hình của mình nên mình bỏ vô luôn! 
  KHÔNG KHUYẾN KHÍCH BỎ VÔ NHAAA!
*/
@media screen and (max-width: 1225px){
  .accessories div:nth-child(3) {
    grid-template-rows: 25px 140px auto;
  }
}

/* ============= SHOW SIDEBAR ============= */
.sidenav.show {
  overflow-x: initial;
  width: 20%;
}


