/* ========== RESET CSS ========== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

/* ========== HEADER ========== */
.header {
  display: grid;
  grid-template-columns: 40% 20% 40%;
  align-items: center;
  margin: 10px;
}

.header__logo {
  width: 110px;
  border: 2px solid gray;
  border-radius: 50%;
  text-align: center;
  margin: 0 auto;
}

.header__logo img {
  width: 100px;
}

.header__slogan p {
  text-align: center;
  font-family: "Ephesis", sans-serif;
  font-size: 35px;
  color: green;
  font-weight: bold;
}

/* ========== MENU ========== */
.menu {
  background-color: green;
  padding: 5px;
}

.menu ul {
  display: flex;
  justify-content: center;
  gap: 50px;
}

.menu a {
  font-size: 18px;
  color: #fff;
}

/* ========== BANNER ========== */
.banner {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 20px;
}

.banner img {
  height: 30vw;
}

/* ========== PRODUCT ========== */
.product {
  width: 35%;
  display: inline-block;
  vertical-align: top;
}

.product img {
  height: 25vw;
}

.product__content {
  width: 63%;
  display: inline-block;
  margin-left: 15px;
}

.product__content h2 {
  color: #c688a6;
  margin-bottom: 10px;
}

.product__content p {
  margin-bottom: 10px;
}

.product__content ul {
  margin-left: 25px;
  list-style: initial;
}

.product__content li::marker {
  color: gray;
  font-size: 18px;
}

.product__content li {
  font-style: italic;
  color: darkturquoise;
}

/* ========== ORDERS ========== */
.orders {
  display: grid;
  grid-template-columns: repeat(2, 300px);
  justify-content: center;
  margin-top: 10px;
}

.order__menu {
  width: max-content;
}

.order__menu button {
  display: block;
  margin: 10px auto;
  padding: 5px 30px;
  background-color: orange;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.order__header {
  background-color: green;
  color: #fff;
  padding: 5px 55px;
}

.order__body {
  background-color: #dbdbdb;
  padding: 5px 10px;
}

.order__item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.order__item label {
  margin-left: 5px;
}

.order__item span {
  margin-left: auto;
  color: orange;
}

.bill.show {
  background-color: orange;
  padding: 10px;
}

.bill h3 {
  text-align: center;
  color: #fff;
}

/* ========== SHOW BILL ========== */
.order__body.right {
  display: none;
}

.order__body.show {
  display: block;
}

/* ========== PRODUCT ========== */
.footer {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  background-color: green;
  text-align: center;
  padding: 20px;
  color: #fff;
}
