/* header */

.header {
  display: flex;
  text-align: center;
  align-items: center;
  margin-bottom: 1%;
}

.container-fluid::after {
  background-color: #AAAAAA;
  padding: 5px 0;
  width: 102%;
  margin-left: -15px;
  padding-right: -15px;
}

.text-header {
  width: 33.3%;
}

.text-header h3 {
  color: #FF8659;
  font-style: italic;

}

.logo {
  width: 33.3%;

}

.search-box {
  width: 33.3%;
}